{% set site_name = 'Flask APP' %}
<!DOCTYPE html>
<html lang="en">
  <head>
	{% block head %}
	<title>{% block title %}{{ site_name }}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta charset="utf-8">

	<meta property="og:title" content=""/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content="" />
	<meta property="og:site_name" content='{{ site_name }}'/>
	<meta property="og:description" content=""/>

	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	{% endblock %}
  </head>
  <body>
	<div class="container page">
		
	</div>
  </body>
</html>