

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Flask Boilerplate</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% if current_user.is_authenticated() %}
            	<li><a href="/add_post">Add Post</a></li>
           		<li><a href="/posts">Show Posts</a></li>
           	{% endif %}
          </ul>
          
          {% if current_user.is_authenticated() %}
			<form class="navbar-form navbar-right" role="form" name="login" method="POST" action="">
          	  <a href="{{ url_for('security.logout') }}" class="btn btn-success">Logout</a>
	      	</form>	  
		  {% else %}
			<form class="navbar-form navbar-right" role="form" name="login" method="POST" action="">
          	  <a href="{{ url_for('security.login') }}" class="btn btn-success">Sign In</a>
          	  <a href="{{ url_for('security.register') }}" class="btn btn-success">New? Register</a>
	      	</form>  
		  {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <br><br><br><br>
      <div>
      
      <div class="panel panel-primary">
        <div class="panel-heading"><h3>{{post.title}}</h3></div>
        <div class="panel-body">
          {{post.post}}
        </div>
      </div>
    </div>

    <br><br>
    <h2>Comments</h2>
    <br>
    <div>
      {% for c in comments %}
      <div class="panel panel-info">
        <div class="panel-heading"><h4>{{c.author}}</h4></div>
        <div class="panel-body">
          {{c.comment}}
        </div>
      </div>
      {% endfor %}
    </div>

    <form class="form-signin" role="form" method="POST" action="" name="post">
        {{form.hidden_tag()}}

        <h2 class="form-signin-heading">Add a Comment</h2>
        
        <div class="input-group  col-lg-6" >
          {{form.author(class_="form-control", placeholder="your name")}}
        </div><br>
        
        <div class="input-group  col-lg-6" >
          {{form.comment(class_="form-control", placeholder="write a comment")}}
        </div><br>
        
        <div class="input-group  col-lg-6" >
          <input type="submit" value="Post Comment" class="btn btn-success">
        </div><br>
      </form>
      <hr>
     </div>
     <div id="footer">  
        <center><font color="white">Copyright &copy; Redbrick Systems 2015</font></center>
  	 </div>
    </div><!-- /.container -->
  </body>
</html>